@import "bootstrap-sprockets";
@import "bootstrap";

/* common */
#content {
    margin: auto;
    width: 70%;
    #debug {
        margin-top: 30px;
        clear: both;
    }
}

/* mixins, variables, etc. */
@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* forms */
.row {
    margin: 0 auto;
    width: 80%;
}
input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    //width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
}
input {
    height: auto !important;
}

/* header */
header {
    li {
        margin-right: 5px;
    }
}

/* my-page *///////////////////////
#my-page {
    margin: 0 5px;
}

.interval-day {
    font-size: 2em;
}

.recently-place {
    margin: 30px 0;
}

.my-places {
    margin: 30px 20px;
}

.my-place {
    height: 100px;
    border-top: 1px solid gray;
    &:last-child{
        border-bottom: 1px solid gray;
    }
    .title {
        text-align: center;
        width: 20%;
        height: 100%;
        float: left;
        overflow: hidden;
        .name {
            font-size: 1.5em;
        }
    }
    .detail {
        width: 40%;
        height: 100%;
        float: left;
        overflow: hidden;
    }
    .btn-area {
        //width: 20%;
        float: left;
        height: 100%;
        .btn {
        }
    }
}

.finish {
    background-color: rgba(192, 192, 192, 0.5);
}

.btn-result {
    width: 130px;
    background-color: skyblue;
}

/* place index*////////////////////
#place-list {
    margin: 5px;
}
.place-create {
    float: right;
}

.place {
    clear: both;
    height: 100px;
    width: 100%;
    border-top: 1px solid gray;
    &:last-child {
        border-bottom: 1px solid gray;
    }
    .title {
        text-align: center;
        width: 20%;
        height: 100%;
        float: left;
        overflow: hidden;
        .name {
            font-size: 1.5em;
        }
    }
    .detail {
        width: 40%;
        height: 100%;
        float: left;
        overflow: hidden;
    }
    .btn-area {
        //width: 20%;
        float: left;
        height: 100%;
        .btn {
        }
    }
}

.btn-attend {
    width: 70px;
}

.btn-grayout {
    background-color: #bbb;
}

/* place index*////////////////////
.btn-place-modify {
    float: right;
}



//ウィンドウ幅が最大479pxまでの場合に適用 //////////////////////////////
@media screen and (max-width: 479px) {

/* common */////////////////////
#content {
    margin: auto;
    width: 100%;
}
/* my-page *//////////////////////
.my-places {
    margin: 5px;
}

.my-place {
    .title {
        text-align: center;
        width: 25%;
        height: 100%;
        float: left;
        overflow: hidden;
        .name {
            font-size: 1.1em;
        }
        .list {
            font-size: 0.7em;
        }
    }
    .detail {
        margin-left: 3px;
        width: 50%;
        height: 100%;
        float: left;
        overflow: hidden;
    }
    .btn-area {
        width: 20%;
        float: left;
        height: 100%;
        overflow: hidden;
        position: relative;
        .btn {
            padding: 0;
            width: 100%;
            font-size: 0.7em;
        }
        .my-attend {
            width: 100%;
            font-size: 0.7em;
        }
        .result {
            position: absolute;
            bottom: 0;
        }
    }
}

/* place index */////////////////////////////
.places {
    margin: 5px;
}

.place {
    .title {
        text-align: center;
        width: 25%;
        height: 100%;
        float: left;
        overflow: hidden;
        .name {
            font-size: 1.1em;
        }
        .list {
            font-size: 0.7em;
        }
    }
    .detail {
        margin-left: 3px;
        width: 50%;
        height: 100%;
        float: left;
        overflow: hidden;
    }
    .btn-area {
        width: 20%;
        float: left;
        height: 100%;
        overflow: hidden;
        position: relative;
        .btn {
            padding: 0;
            width: 100%;
            font-size: 0.7em;
        }
    }
}
}















