@import "bootstrap";

/* mixins, variables, etc. */
@mixin box_sizing {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

/* forms */
.row {
    margin: 0 auto;
    width: 80%;
}
input, textarea, select, .uneditable-input {
    border: 1px solid #bbb;
    width: 100%;
    margin-bottom: 15px;
    @include box_sizing;
}
input {
    height: auto !important;
}

/* header */
header {
    li {
        margin-right: 5px;
    }
}

/* place index*/
.place-create {
    float: right;
}
.place-item {
    width: 70%;
    li {
        list-style: none;
    }
}
.place-content {
    float: left;
}
.btn-attend {
    width: 70px;
}
/* my-page */
.my-place {
    margin: 30px 20px;
}
.interval-day {
    font-size: 2em;
}
.btn-result {
    width: 130px;
    background-color: skyblue;
}