<h1>場所データ</h1>

<div class="container">
    <div class="name">
        <%= @place.name %>
    </div>
    <div class="name">
        <%= @place.menu %>
    </div>
    <div class="intention_state">
        <%= @place.intention_state %>
    </div>
<div>