<header class="navbar navbar-inverse">
<div class="container">
<div class="logo"><%= link_to "しょぼ練", root_path %></div>
<nav>
    <ul class="nab navbar-nav navbar-right">
        <li><%= link_to "マイページ", root_path %></li>
        <li><%= link_to "しょぼれん探し", places_path %></li>
        <li><%= link_to "日記", "#" %></li>
    </ul>
</nav>
</div>
</header>